@import '../../styles/colors.css';

.fieldset {
  border: none;
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--primary-light);
  padding: 0 2rem;
  box-shadow: 0px 4px 4px var(--primary-main);
}

.legend {
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 1.5rem;
  background-color: var(--primary-main);
}

.action {
  display: flex;
  justify-content: end;
  padding-bottom: .7rem
}
