@import '../../styles/colors.css';

.profile {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem;
  padding-top: 5rem;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  background-color: var(--primary-main);
  color: var(--white);
}

.info {
  border-bottom: 1px solid var(--primary-main);
  margin-bottom: 70px;
}

.info > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.details > div {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding-bottom: 20px;
}

.details h4 {
  flex: 1;
  min-width: 200px;
  padding: .4rem .7rem;
}

.details p {
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 10%;
  border-left: 1px solid var(--primary-main);
  flex: 3;
  padding: 1rem .7rem;
}

.details ul {
  font-size: 1.2rem;
  text-indent: 10%;
  list-style-type: square;
  list-style-position: inside;
  flex: 3;
}
