@import '../../styles/colors.css';

.wrap {
  position: fixed;
  top: 0;
  right: -200%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  min-width: 300px;
  margin: .7rem;
  animation: pop-up 3.8s linear;
  box-shadow: 4px 4px var(--primary-light);
}

.success {
  background-color: var(--primary-main);
}

.error {
  background-color: var(--error);
}

.wrap:hover {
  animation-play-state: paused;
}

.wrap span {
  color: var(--white);
  font-size: 1.2rem;
  padding: 1rem .7rem;
}

.wrap svg {
  transform: rotate(-90deg);
}

.timer {
  stroke-width: 8px;
  fill: transparent;
  stroke-dashoffset: 200;
  animation: timer 3s linear .5s;
}

.wrap:hover .timer {
  animation-play-state: paused;
}

.button {
  align-self: stretch;
}

.button:hover {
  background-color: var(--primary-main);
  color: var(--white);
}

@keyframes timer {
  0% {
    stroke-dasharray: 200 0;
    stroke: var(--white);
  }
  100% {
    stroke-dasharray: 200 189;
    stroke: var(--primary-light);
  }
}

@keyframes pop-up {
  0% {
    right: -200%;
  }
  10% {
    right: 4%;
  }
  12% {
    right: 0;
  }
  14% {
    right: 0;
  }
  95% {
    right: 0;
  }
  97% {
    right: 3%;
  }
  100% {
    right: -200%;
  }
}
