.input {
  width: 100%;
  font-size: 1.2rem;
  padding: 2rem;
}

.input:focus-within ~ span {
  margin-top: 0;
  transform: translate(1.3rem, -50%);
  transition-duration: .175s;
  z-index: 9999;
}

.input:not(:focus-within)::placeholder {
  opacity: 0;
}

.input:not(:placeholder-shown) {
  z-index: 1000;
}

.input:focus-within:placeholder-shown ~ span {
  transform: translate(1.3rem, -70%);
  transition-duration: .175s;
  z-index: 9999;
}

.input:focus-within:not(:placeholder-shown) ~ span {
  transform: translate(1.3rem, -50%);
  z-index: 9999;
}

