@import '../../styles/colors.css';

form {
  filter: drop-shadow(4px 4px var(--primary-light));
}

.fieldset {
  border: 2px solid var(--primary-main);
  width: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 0 2rem;
}

.legend {
  position: relative;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 1.5rem;
  background-color: var(--primary-main);
}

.clear {
  position: absolute;
  z-index: 0;
  bottom: -4px;
  left: 4px;
  background-color: var(--white);
  height: calc(50% + 5px);
  border-top: 2px solid var(--primary-main);
  width: 100%;
}

.action {
  display: flex;
  justify-content: end;
  padding-bottom: .7rem;
}

.action strong {
  color: var(--error);
}
