@import './styles/colors.css';
@import './styles/font.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: Poppins, sans-serif;
  background-color: var(--secondary);
}

body {
  color: var(--primary-main);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

input, textarea {
  color: var(--primary-main);
  border: 1px solid var(--primary-main);
  resize: none;
  background-color: var(--white);
  padding: .3rem .7rem;
}

input {
  height: 2rem;
}

::placeholder {
  color: var(--primary-light);
}

button {
  padding: .5rem .7rem;
  cursor: pointer;
  font-size: .8rem;
  color: var(--primary-main);
  border-radius: 0;
  border: none;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
}
