@import './styles/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--secondary);
}

body {
  color: var(--primary-main);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem 0;
}

input, textarea {
  color: var(--primary-main);
  border: 1px solid var(--primary-main);
  resize: none;
  background-color: var(--white);
  padding: .3rem .7rem;
}

input {
  height: 2rem;
}

a {
  color: var(--primary-main);
}

::placeholder {
  color: var(--primary-light);
}

button {
  padding: .6rem .7rem .4rem .9rem;
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  user-select: none;
  color: var(--white);
  background-color: var(--primary-main);
  letter-spacing: .2rem;
  border: 2px solid var(--primary-main);
}

button:hover {
  color: var(--primary-main);
  background-color: var(--white);
  transition-duration: .3s;
}

/* scroll styles */
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-main);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-main);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
}
